.map {
  display: flex;
  flex: 1 1 100%;
  position: relative;
}

#mapster-legend {
  position: absolute;
  bottom: 0px;
}

mapster {
  border: 1px solid black;
}

.country {
  fill: #555;
  stroke: white;
  stroke-width: 0.5;
}

.country:hover {
  fill: #fb4;
}

.route {
  opacity: 0;
  fill: none;
  stroke: red;
  stroke-width: 1;
}

.origin {
  opacity: 1;
}

.halo {
  opacity: 1;
  fill: none;
  stroke: white;
  stroke-width: 1;
}

