<div ng-controller="MapsterController" class="map">
    <mapster>
    <div id="mapster-legend" class="legend-col-wrapper">
        <div ng-click="toggleLegend()" class="legend-toggle">
            <i class="legend-icon fa" ng-class="open ? 'fa-chevron-circle-right' : 'fa-chevron-circle-left'"></i>
        </div>
        <ul class="legend-ul" ng-show="open">
            <li
                ng-repeat="event in colors"
                data-label="{{event.name}}"
                class="legend-value color">

                <div class="legend-value-container">
                    <div
                     ng-class="legend-value-truncate"
                     class="legend-value-title">
                        <i class="fa fa-circle" ng-style="{color: event.color}"></i> {{event.name}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="logs">
        <table>
            <thead><tr><th>Timestamp</th><th>Location</th><th>Ip</th><th>Attack type</th></tr></thead>
            <tbody id="logs">
            </tbody>
        </table>
    </div>
    </mapster>
</div>

