<div ng-controller="MapsterParamsEditor">
    <div ng-repeat="param in params" class="vis-editor-agg-header">
        <div class="mapster_edition">
            <span class="vis-editor-agg-header-title">{{param.title}} <span class="fa fa-question-circle help_icon" ng-click="showhelp[param.param]=!showhelp[param.param]"></span></span>
            <input type="{{param.type}}" ng-model="vis.params[param.param]">
        </div>
        <div class="mapster_helper" ng-show="showhelp[param.param]">
            {{param.help}}
        </div>
    </div>
</div>

