<div class="form-group">
    <!-- Special effects -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Special effects</span>
        <input type="text" ng-model="vis.params.special_effects">
    </div>

    <!-- Object shape -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Object shape</span>
        <input type="text" ng-model="vis.params.object_shape">
    </div>

    <!-- Object scale -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Object scale</span>
        <input type="text" ng-model="vis.params.object_scale">
    </div>

    <!-- Special effects -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Object rotation</span>
        <input type="text" ng-model="vis.params.object_rotation">
    </div>

    <!-- Target coords -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Target coords</span>
        <input type="text" ng-model="vis.params.target_coords">
    </div>

    <!-- Special shape -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Special shape</span>
        <input type="text" ng-model="vis.params.special_shape">
    </div>

    <!-- Special scale -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Special scale</span>
        <input type="text" ng-model="vis.params.special_shape_scale">
    </div>

    <!-- Special remaining time -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Special remaining time (seconds)</span>
        <input type="text" ng-model="vis.params.special_shape_remaining">
    </div>

    <!-- Origin size -->
    <div class="vis-editor-agg-header">
        <span class="vis-editor-agg-header-title">Origin default size</span>
        <input type="text" ng-model="vis.params.origin_default_size">
    </div>

</div>
